<!DOCTYPE html>
<html lang="zxx" class="js">
  <head>
    <base href="../" />
    <meta charset="utf-8" />
    <meta name="author" content="Softnio" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers." />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/app/assets/images/favicon.png" />
    <!-- Page Title  -->
    <title>Documents | Document Controller</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/app/assets/css/dashlite.css" />
    <link id="skin-default" rel="stylesheet" href="/app/assets/css/theme.css" />
    <style>
      .is-compact .nk-tb-item:not(.nk-tb-head) .nk-tb-col{
        padding-top: 2px;
        padding-bottom: 2px;
      }
      .nk-tb-item .nk-tb-col:first-child {
        padding-left: 10px;
      }
      
      .nk-tb-col {
        white-space: nowrap;
        /* overflow: hidden;
        text-overflow: ellipsis; */
        padding: 5px 15px;
        width: 100%;
        min-width:100%;
        max-width: 100%;
      }
    </style>
  </head>
  <body class="nk-body bg-lighter npc-general has-sidebar">
    <div class="nk-app-root">
      <!-- main @s -->
      <div class="nk-main">
        <%- include('./common/sidebar' , {active : "Documents"}); -%>
        <div class="nk-wrap">
          <%- include('./common/navbar'); -%>
          <div class="nk-content">
            <div class="container-fluid">
              <div class="nk-content-inner">
                <div class="nk-content-body">
                  <div class="nk-block">
                    <div class="nk-block-head nk-block-head-sm">
                      <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                          <h3 class="nk-block-title page-title">Documents</h3>
                        </div>
                        <%if(token.user_role != 3){%>
                        <div class="nk-block-head-content">
                          <span class="drodown">
                            <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown"
                              ><em class="icon ni ni-inbox-in"></em><span><span class="d-none d-md-inline">Import</a>
                            <div style="min-width: 140px;" class="dropdown-menu dropdown-menu-end">
                              <ul class="link-list-opt no-bdr">
                                <li>
                                  <a href="/documents/import/email"><em class="icon ni ni-mail"></em><span>Email Import</span></a>
                                </li>
                                <li>
                                  <a href="/documents/import/excel"><em class="icon ni ni-folder-fill"></em><span>Excel Import</span></a>
                                </li>
                              </ul>
                            </div>
                          </span>
                          <a href="/documents/create-document" class="btn btn-outline-light bg-white"><em class="icon ni ni-plus-sm"></em><span>Add Document</span></a>
                        </div>
                        <%}%>
                      </div>
                    </div>
                    <div class="card card-bordered card-stretch">
                      <div class="card-inner-group">
                        <div class="card-inner position-relative card-tools-toggle">
                          <div class="card-title-group">
                            <div class="card-tools"></div>
                            <div class="card-tools me-n1">
                              <ul class="btn-toolbar gx-1">
                                <li>
                                  <a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                                </li>
                                <li class="btn-toolbar-sep"></li>
                                <li>
                                  <div class="toggle-wrap">
                                    <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-menu-right"></em></a>
                                    <div class="toggle-content" data-content="cardTools">
                                      <ul class="btn-toolbar gx-1 d-none">
                                        <li class="toggle-close">
                                          <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-arrow-left"></em></a>
                                        </li>
                                        <li>
                                          <div class="dropdown">
                                            <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                                              <div class="dot dot-primary"></div>
                                              <em class="icon ni ni-filter-alt"></em>
                                            </a>
                                            <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end" style="min-width: 70vw;">
                                             <div class="dropdown-body dropdown-body-rg">
                                                <div class="row gx-6 gy-3">
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">Folders</label>
                                                      <select class="form-select form-control js-select2" data-placeholder="Select Reference" >
                                                        <option value="1">TEESTA RIVER BRIDGE WEST BENGAL - MAIN</option>
                                                        <option value="2">HEAD OFFICE - MAIN</option>
                                                        <option value="3">KAPURTHALA - MAIN</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">Type</label>
                                                      <select class="form-select js-select2">
                                                        <option value="OUTGOING">OUTGOING</option>
                                                        <option value="INCOMING">INCOMING</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">Number</label>
                                                      <input type="text" name="number" id="number" class="form-control" />
                                                    </div>
                                                  </div>
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">Status</label>
                                                      <select class="form-select js-select2">
                                                        <option value="any">All</option>
                                                        <option value="active">Drafted</option>
                                                        <option value="pending">Uploaded</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">Purpose</label>
                                                      <input type="text" name="purpose" id="purpose" class="form-control" />
                                                    </div>
                                                  </div>
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">Subject</label>
                                                      <input type="text" name="subject" id="subject" class="form-control" />
                                                    </div>
                                                  </div>
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">Reference</label>
                                                      <input type="text" name="reference" id="reference" class="form-control" />
                                                    </div>
                                                  </div>
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">From</label>
                                                      <input type="date" name="from" id="from" class="form-control" />
                                                    </div>
                                                  </div>
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">To</label>
                                                      <input type="date" name="to" id="to" class="form-control" />
                                                    </div>
                                                  </div>
                                                  <div class="col-3">
                                                    <div class="form-group">
                                                      <label class="overline-title overline-title-alt">Storage</label>
                                                      <input type="text" name="storage" id="storage" class="form-control" />
                                                    </div>
                                                  </div>

                                                  <div class="col-12">
                                                    <div class="form-group">
                                                      <button type="button" class="btn btn-secondary">Filter</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="dropdown-foot between">
                                                <a class="clickable" href="#">Reset Filter</a>
                                                <a href="#">Save Filter</a>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="dropdown">
                                            <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                                              <em class="icon ni ni-setting"></em>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                              <ul class="link-check">
                                                <li><span>Show</span></li>
                                                <li class="active"><a href="#">10</a></li>
                                                <li><a href="#">20</a></li>
                                                <li><a href="#">50</a></li>
                                              </ul>
                                              <ul class="link-check">
                                                <li><span>Order</span></li>
                                                <li class="active"><a href="#">DESC</a></li>
                                                <li><a href="#">ASC</a></li>
                                              </ul>
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="card-search search-wrap" data-search="search">
                            <div class="card-body">
                              <div class="search-content">
                                <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                <input type="text" id="searchDocumentInput" class="form-control border-transparent form-focus-none" placeholder="Search Documents " />
                                <button id="searchDocumentButton" class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-inner p-0 scrollable-datatable">
                          <div class="nk-tb-list nk-tb-ulist is-compact">
                            <div class="nk-tb-item nk-tb-head" id="table-head">
                              <div class="nk-tb-col text-start"><span>SITE/FOLDER</span></div>
                              <div class="nk-tb-col"><span>TYPE</span></div>
                              <div class="nk-tb-col"><span>NUMBER</span></div>
                              <div class="nk-tb-col"><span>STATUS</span></div>
                              <div class="nk-tb-col"><span>DATE</span></div>
                              <div class="nk-tb-col"><span>PURPOSE</span></div>
                              <div class="nk-tb-col"><span>SUBJECT</span></div>
                              <div class="nk-tb-col"><span>FROM</span></div>
                              <div class="nk-tb-col"><span>TO</span></div>
                              <div class="nk-tb-col"><span>STORAGE</span></div>
                              <div class="nk-tb-col"><span>REFERENCE</span></div>
                              <div class="nk-tb-col"><span>REPLIED VIDE</span></div>
                            </div>
                          </div>
                        </div>
                        <div id="table-status" class="card-inner text-center">
                          <div class="text-center">
                            <p>No Data Found</p>
                          </div>
                        </div>
                        <div id="table-pagination" class="card-inner d-none">
                          <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_2_previous"><a aria-controls="DataTables_Table_2" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="0" class="page-link">Prev</a></li>
                            <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_2" role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item"><a href="#" aria-controls="DataTables_Table_2" role="link" data-dt-idx="1" tabindex="0" class="page-link">2</a></li>
                            <li class="paginate_button page-item"><a href="#" aria-controls="DataTables_Table_2" role="link" data-dt-idx="2" tabindex="0" class="page-link">3</a></li>
                            <li class="paginate_button page-item"><a href="#" aria-controls="DataTables_Table_2" role="link" data-dt-idx="3" tabindex="0" class="page-link">4</a></li>
                            <li class="paginate_button page-item"><a href="#" aria-controls="DataTables_Table_2" role="link" data-dt-idx="4" tabindex="0" class="page-link">5</a></li>
                            <li class="paginate_button page-item disabled" id="DataTables_Table_2_ellipsis"><a aria-controls="DataTables_Table_2" aria-disabled="true" role="link" data-dt-idx="ellipsis" tabindex="0" class="page-link">…</a></li>
                            <li class="paginate_button page-item"><a href="#" aria-controls="DataTables_Table_2" role="link" data-dt-idx="11" tabindex="0" class="page-link">12</a></li>
                            <li class="paginate_button page-item next" id="DataTables_Table_2_next"><a href="#" aria-controls="DataTables_Table_2" role="link" data-dt-idx="next" tabindex="0" class="page-link">Next</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('./common/footer'); -%>
        </div>
        <!-- wrap @e -->
      </div>
      <!-- main @e -->
    </div>

    <script src="/app/assets/js/bundle.js"></script>
    <script src="/app/assets/js/scripts.js"></script>
    <script>
      let filters = {};
      function fetchDocuments() {
        $(".table-content").remove();
        $("#table-status").html(`<div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>`);
        $.ajax({
          type: "POST",
          url: "/docs/get-filtered-documents",
          data: JSON.stringify(filters),
          contentType: "application/json",
          success: function (response) {
            if (response.status == 1) {
              if (response.payload.documents && response.payload.documents.length > 0) {
                $("#table-status").empty();
                response.payload.documents.forEach(function (document) {
                  let rowHtml = `<div class="nk-tb-item text-left table-content">
                                  <div class="nk-tb-col text-start">
                                      <span>${document.doc_folder || "-"}</span>
                                  </div>
                                  <div class="nk-tb-col">
                                      <span>
                                          <div style="font-size: 10px; height: 20px; width: 20px; margin-right: 5px" class="nk-tnx-type-icon ${document.doc_type == "INCOMING" ? `text-primary bg-primary-dim` : `text-success bg-success-dim`} "><em class="icon ni ${document.doc_type == "INCOMING" ? `text-success bg-success-dim ni-arrow-down-left` : `text-primary bg-primary-dim ni-arrow-up-right`}"></em></div> 
                                          ${document.doc_type || "-"}
                                      </span>
                                  </div>
                                  <div class="nk-tb-col">
                                      <span><a href="/documents/${btoa(document.doc_number)}">${document.doc_number || "-"}</a></span>
                                  </div>
                                  <div class="nk-tb-col">
                                      <span${document.doc_status === "DRAFTED" ? ' class="text-warning"' : document.doc_status === "UPLOADED" ? ' class="text-primary"' : ""}>${document.doc_status || "-"}</span>
                                  </div>
                                  <div class="nk-tb-col">
                                      <span>${document.doc_created_at || "-"}</span>
                                  </div>
                                  <div class="nk-tb-col">
                                    <span title="${document.doc_purpose || "-"}">${document.doc_purpose || "-"}</span>
                                  </div>
                                  <div class="nk-tb-col">
                                    <span title="${document.doc_subject || "-"}">${document.doc_subject || "-"}</span>
                                  </div>
                                  <div class="nk-tb-col">
                                    <span title="${document.doc_from || "-"}">${document.doc_from || "-"}</span>
                                  </div>
                                  <div class="nk-tb-col">
                                    <span title="${document.doc_to || "-"}">${document.doc_to || "-"}</span>
                                  </div>
                                  <div class="nk-tb-col">
                                      <span title="${document.doc_storage_location || "-"}">${document.doc_storage_location || "-"}</span>
                                  </div>
                                  <div class="nk-tb-col">
                                      ${document.doc_reference ? 
                                          document.doc_reference.split(',').map((ref, index) => {
                                              const trimmedRef = ref.trim();
                                              return `<span style='margin-right : 4px' class="badge bg-outline-primary"><a target="_blank" href="/documents/${btoa(trimmedRef)}">${trimmedRef}</a></span>`;
                                          }).join('') 
                                          : "-"}
                                  </div>
                                  <div class="nk-tb-col">
                                      ${document.doc_replied_vide ? 
                                          document.doc_replied_vide.split(',').map((reply, index) => {
                                              const trimmedReply = reply.trim();
                                              return `<span style='margin-right : 4px' class="badge bg-outline-primary"><a target="_blank" href="/documents/${btoa(trimmedReply)}">${trimmedReply}</a></span>`;
                                          }).join('') 
                                          : "-"}
                                  </div>
                              </div>`;
                  $(rowHtml).insertAfter("#table-head");
                });
              } else {
                $("#table-status").html(`<div class="text-center"><p>No Records Found</p></div>`);
              }
            } else {
              $("#table-status").html(`<div class="text-center"><p>Something Went Wrong</p></div>`);
            }
          },
          error: function (xhr, status, error) {
            console.log(error);
            $("#table-status").html(`<div class="text-center"><p>Something Went Wrong</p></div>`);
          },
        });
      }
      fetchDocuments();

      $("#searchDocumentButton").click(function () {
        handleSearch();
      });

      $("#searchDocumentInput").keypress(function (event) {
        if (event.which === 13) {
          handleSearch();
        }
      });

      function handleSearch() {
        var searchValue = $("#searchDocumentInput").val();
        if (searchValue) {
          filters.dm_ocr_content = searchValue;
          fetchDocuments();
        } else if (!searchValue && filters.dm_ocr_content) {
          delete filters.dm_ocr_content;
          fetchDocuments();
        }
      }
    </script>
  </body>
</html>
