<!DOCTYPE html>
<html lang="zxx" class="js">

<html lang="zxx" class="js">
  <head>
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/app/assets/images/favicon.png" />
    <!-- Page Title  -->
    <title>Forget Password | Document Controller</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/app/assets/css/dashlite.css" />
    <link id="skin-default" rel="stylesheet" href="/app/assets/css/theme.css" />
  </head>

<body class="nk-body bg-white npc-general pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center">
                            <a href="/" class="logo-link">
                                <img class="logo-light logo-img logo-img-lg" src="/app/assets/images/logo.png" alt="logo" />
                                <img class="logo-dark logo-img logo-img-lg" src="/app/assets/images/logo.png" alt="logo-dark" />
                              </a>
                        </div>
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Reset password</h5>
                                        <div class="nk-block-des">
                                            <p>If you forgot your password, well, then we’ll email you instructions to reset your password.</p>
                                        </div>
                                    </div>
                                </div>
                                <form id="resetPasswordForm" class="form-validate is-alter">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="user_email">Email</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <input type="email" class="form-control form-control-lg" id="user_email" placeholder="Enter your email address" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button id="sendResetOtp" class="btn btn-lg btn-primary btn-block">Send Reset OTP</button>
                                    </div>
                                    <div id="alert-wrapper"></div>
                                </form>
                                <div class="form-note-s2 text-center pt-4">
                                    <a href="/"><strong>Return to login</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('./common/footer'); -%>
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <script src="/app/assets/js/bundle.js"></script>
    <script src="/app/assets/js/scripts.js"></script>
    <script>
        $(document).ready(function () {
          $("#sendResetOtp").click(function () {
            if ($("#resetPasswordForm").valid()) {
              NioApp.handleButtonState("sendResetOtp", "Sent Reset OTP", true);
              let user_email = $("#user_email").val();
              let formData = JSON.stringify({ user_email});
      
              $.ajax({
                type: "POST",
                url: "/auth/reset-otp",
                contentType: "application/json",
                data: formData,
                success: function (response) {
                  if (response.status == 1) {
                    NioApp.handleButtonState("sendResetOtp", "Sent Reset OTP", false);
                  } else if (response.status == 0) {
                    NioApp.handleButtonState("sendResetOtp", "Sent Reset OTP", false);
                    $("#alert-wrapper").html(`<div class="alert alert-danger alert-icon alert-dismissible"><em class="icon ni ni-cross-circle"></em> <strong>${response.msg}</strong><button class="close" data-bs-dismiss="alert"></button></div>`);
                    NioApp.Toast(`<h5>${response.msg}</h5><p>Error While Sending OTP</p>`, "error");
                  }
                },
                error: function (xhr, status, error) {
                    NioApp.handleButtonState("sendResetOtp", "Sent Reset OTP", false);
                    $("#alert-wrapper").html(`<div class="alert alert-danger alert-icon alert-dismissible"><em class="icon ni ni-cross-circle"></em> <strong>${response.msg}</strong><button class="close" data-bs-dismiss="alert"></button></div>`);
                    NioApp.Toast(`<h5>${response.msg}</h5><p>Error While Sending OTP</p>`, "error");
                },
              });
            }
          });
        });
    </script>
</html>